/* phone */
@media all and (max-width: 767px ) {
    .nav {
        position: fixed;
        background-color: white;
        width: 468px;
        padding: 20px 60px;
        box-sizing: border-box;
        border-radius: 50px;
        border: 1px solid black;
        right: 50%;
        transform: translate(10vw, -5%);
        bottom: 5px;
    }

    .nav__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav__link {
        color: black;
        position: relative;
    }

    .nav__notification {
        position: absolute;
        left: 17px;
        bottom: 15px;
    }
}

/* pc */
@media all and (min-width:768px) {
    .nav__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 200px;
        background-color: white;
        position: fixed;
        right: 15vw;
        transform: translate(10vw, -5%);
        bottom: 3vh;
        padding: 25px 75px;
        border-radius: 50px;
        border: 1px solid black;
    }

    .nav__link {
        color: black;
        position: relative;
    }

    .nav__notification {
        position: absolute;
        left: 17px;
        bottom: 15px;
    }
}

.nav__btn img {
    border-radius: 50%;
    width: 45px;
    border: 2px solid var(--yellow);
}