.nav-profile {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 60px 50px;
    border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav-profile__list {
    display: flex;
    justify-content: space-between;
}

.nav-profile__link {
    color: black;
    position: relative;
}

