/* phone */
@media all and (max-width: 767px ) {

}

/* pc */
@media all and (min-width:768px) {
    .my-page__wallpaper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 45vh;
        background: url("/img/haeil2.jpeg") no-repeat center fixed;
        background-size: cover;
        color: white;
        padding: 0 40px;
        position: relative;
    }

    .my-page__my-profile {
        display: flex;
        align-items: center;
    }

    .my-page__avatar {
        width: 200px;
        height: 200px;
        border-radius: 50px;
        object-fit: cover;
    }

    .my-page__text {
        margin: 0 0 0 25px;
    }

    .my-page__title {
        margin-bottom: 2.5vh;
        font-size: 1.8em;
    }

    .my-page__subtitle {
        font-size: 1.2em;
    }

    .my-page__wallpaper i {
        position: absolute;
        top: 15%;
        right: 5vw;
    }

    .my-page-screen {
        padding: 3vh 3vw 5vh 3vw;
        display: flex;
        justify-content: space-between;
    }

    .my-page__category {
        order:2;
        width: 15vw;
        padding: 20px 30px;
        border: 1px solid var(--yellow);
        border-radius: 15px;
    }

    .my-page__category-ul {
        list-style: disc;
    }

    .my-page__category__title {
        font-family: 'KIMM_Bold', sans-serif;
        margin-bottom: 15px;
    }

    .my_page__category__subtitle {
        margin-bottom: 5px;
    }

    .my-page__category-sub {
        padding-left: 10px;
        list-style: circle;
        margin: 5px 0;
    }

    .my-page__category-sub__title {
        margin-bottom: 5px;
    }
}