.settings-setting {
    padding: 20px 0;
    border-bottom: 1px solid rgba(121, 121, 121, 0.3);
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings-setting i {
    margin-right: 10px;
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.7);
}

.settings__setting-column:last-child {
    opacity: 0.7;
}