.profile-background__img {
    width: 100%;
    height: auto;
    background: url("/img/haeil2.jpeg") no-repeat center fixed;
    background-size: cover;
    color: white;
}

.user-profile__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 26%;
    left: 50%;
    transform: translate(-50%, 0);
}

.user-profile__avatar {
    width: 120px;
    height: 120px;
    border-radius: 40px;
    object-fit: cover;
    margin-bottom: 7px;
}

.user-profile__title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.nav-profile {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 60px 50px;
    border-top: 1px solid rgba(121, 121, 121, 0.5);
}

.nav-profile__list {
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
}

.nav-profile__link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-profile__link-title {
    padding-top: 15px;
}